<section class="vh-100" style="background-color: #dbe2ee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 text-center">
      <div class="col">
        <!-- Button trigger modal -->
        <p >
            <h2 style="FONT-FAMILY: ui-sans-serif">
                ORDER SUCCESS
            </h2>
            <H2 style="FONT-FAMILY: ui-sans-serif">
                THANK YOU FOR ORDER
            </H2>
        </p>
       <a href="/orders-det">
         <button  type="button" class="btn btn-light btn-lg" data-mdb-toggle="modal"
          data-mdb-target="#exampleModal" >
          <i class="fas fa-info me-2"></i>  View Products <details></details>
        </button>
       </a>

        <!-- Modal -->
        </div>

      </div>
    </div>
  </div>
</section>